{% extends "base.html" %}

{% block content %}
<div class="container">
  <center>
    <img class="img-responsive" src="{{ url_for('static', filename='img/galleries/headshots/double-headshot.png') }}">
  </center>
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  Jamie Thiessen was born and raised in beautiful Southern California. Unbeknownst to her parents, her career would begin at the age of 3 when they signed her up for kiddie ballet at the local preschool. She was hooked. Standing under a spotlight, basking in the glow of unlimited parental attention while wearing pink frills? Yes, please! The following year, her desire for the stage was only further cultivated when she landed the show-stopping role of Innkeeper's Wife in the preschool Nativity play. Not only did she get to play the wife of the cutest boy on the playground, but she also didn't even cry much when she couldn't find her parents after the play. Ah, destiny. As Jamie grew, so did her passion for performing. She spent her youth in dance classes and voice lessons, and any free time was spent choreographing her own dances in her living room.
  <br>
  <br>
  As Jamie grew out of her awkward tween years, and into her slightly less awkward teenage years, she joined a local community theater, continued to perform with her competition dance team, and formed her own little dance group on the side so she could practice and perform her own choreography. Senior year she joined California Conservatory of the Arts, and under the watchful eye of her mentor, David Green, had many wonderful song and dance opportunities at functions across Southern California. Her proudest accomplishment of that year was her participation in "Follies" with such greats as John Raitt, Harvey Evans, Betty Garret, Teri Ralston, and Jonelle Allen. She played Young Hattie to the wonderful Betty Garrett, and was completely star struck. Closing night, when Mrs. Garrett was unable to perform, Jamie was asked to go on in her place and sing "Broadway Baby". Terrified and thrilled, the evening's performance was an overwhelming success.
</div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  Jamie then attended the University of California, Irvine as a drama major, and she continued to dance and choreograph all through college. She received training both in the classroom and on stage from such fantastic teachers as Dr. Robert Cohen and Donald McKayle. She also got to study fun things like stage combat, puppetry, masking and clowning. Eager to begin her career, she graduated early and moved to New York, where she currently resides. She has been fortunate enough to perform all over the world, including in the Caribbean with Disney Cruise Lines, and in Hong Kong with Sesame Street Live! So far, her favorite roles have been BJ in "Marvelous Wonderettes" at Festival 56, Junie B. Jones with the Random House Tour, and Geminae Twin in "Forum" at the Broward Stage Door Theatre. Jamie is so thankful to her parents for their endless love, support, and time spent driving her to dance classes and voice lessons. Love you Mom and Dad!
</div>

{% endblock %}
