{% extends "base.html" %}

{% block content %}

<div class="container text-center">
<h3>Visit us on <a href="https://www.youtube.com/channel/UCiczDuKQmn7ajxixHR2JpFg">YouTube</a>!</h3>

<div class="container">
  <h2>Season 2</h2>
  <h3>Coming Soon!</h3>
</div>

<div class="container">
  <h2>Season 1</h2>
  
  <div class="media-container">
    <h3>Santa's Elves</h3>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Rh4pEOyku4A" frameborder="0" allowfullscreen></iframe>      
  </div>
  <div class="media-container">
    <h3>Women's Studies</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/T_GcJCtVm_w" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media-container">
    <h3>Giving Thanks</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Pes_gfMSpLU" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media-container">
    <h3>How Millenials Do Lunch</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dtzSuUlagmE" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media-container">
    <h3>Costume Contest</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MCbRTeAKSpw" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="media-container">
    <h3>The Daily Commute</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y1V3ecWCVqk" frameborder="0" allowfullscreen></iframe>
  </div>

  
  
</div>


</div>

{% endblock %}
