{% extends "base.html" %}

{% block content %}

<div class="row">
  {% for pic in pics %}

  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <img class="gallery img-responsive" src="{{ url_for('static', filename=pic) }}">
  </div>
  
  {% endfor %}
</div>

<center>
  <h3>Next Gallery: <a href="{{ url_for('photos', GAL_NAME=next_link) }}">{{ next_gallery  }}</a></h3>
</center>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
  $(document).ready(function(){
    $('img').on('click',function(){
      var src = $(this).attr('src');
      src = src.replace('square', 'full');

      var img = '<img style="display:block; margin:auto;" src="' + src + '" class="img-responsive"/>';
      $('#myModal').modal();
      $('#myModal').on('shown.bs.modal', function(){
	$('#myModal .modal-body').html(img);
      });
      $('#myModal').on('hidden.bs.modal', function(){
	$('#myModal .modal-body').html('');
      });
    });
  })
</script>
{% endblock %}
