{% extends "base.html" %}


{% block content %}

<div class="containter text-center">
  A variety sketch show devoted to inequality and the absurd<br>
    <img class="img-responsive center-block" src="{{ url_for( 'static', filename='img/frontpage.jpg') }}">

</div>

<hr>
<h3 class="text-center">Updates</h3>
<hr>

<div class="row text-center">

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h4>The Worst</h4>
    While we work on Season 2, enjoy our <i>The Worst</i> series. Each Wednesday we'll reloease a new conversation with a friend talking about their worst...
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h4>Featured in Mother Jones</h4>
    Our cat calling episode was featured in a Mother Jones article! Click <a>here</a> to read it!
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h4>Season 1 Launch!</h4>
    We're proud to announce the launch of <i>Jamie and Hannah's Happy Hour</i> on YouTube. Enjoy as we delve into a variety of subjects including cat calling, haloween costumes, Thanksgiving dinner and more with our own brand of humor!
  </div>

</div>
{% endblock %}
