{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<h4 class="text-left"><a href="{{ url_for('static', filename='img/galleries/headshots/JamieThiessenHeadshot.jpg') }}" target="blank" class="lined">Click to download Jamie's headshot</a></h3>
<h4 class="text-right"><a href="{{ url_for('static', filename='img/JamieThiessen.pdf') }}" target="blank" class="lined">Click to download Jamie's resume</a></h3>
  <br>
<img class="img-responsive" src="{{ url_for('static', filename='img/JamieThiessen.png') }}">
{% endblock %}


