{% extends "base.html" %}

{% block content %}


<div class="media-container col-xs-12 col-md-6 col-lg-6">
  <h4>"He's a Tramp" vocal demo</h4>
    <audio controls ="controls">
      <source src="{{ url_for('static', filename='audio/Tramp.mp3') }}" type="audio/mpeg" />
      <source src="{{ url_for('static', filename='audio/Tramp.ogg') }}" type="audio/ogg" />
       Your current browser does not support HTML5 audio. Please use Safari 5 (or later), Chrome 6 (or later), Firefox 7 (or later) or Internet Explorer 9 (or later).
    </audio>
</div>

<div class="media-container col-xs-12 col-md-6 col-lg-6">
  <h4>"Rainbow Connection" vocal demo</h4>
    <audio controls ="controls">
      <source src="{{ url_for('static', filename='audio/RainbowConnection.mp3') }}" type="audio/mpeg" />
      <source src="{{ url_for('static', filename='audio/RainbowConnection.ogg') }}" type="audio/ogg" />
       Your current browser does not support HTML5 audio. Please use Safari 5 (or later), Chrome 6 (or later), Firefox 7 (or later) or Internet Explorer 9 (or later).
    </audio>
</div>


<div class="media-container col-xs-12 col-md-6">
  <h4>"Alone Again" Cabaret Performance</h4>
  Written by Shoshana Seid-Green<br>
  <div class="media-block">

    <iframe width="640" height="390" src="http://www.youtube.com/embed/qT1vUeCMP4o" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="media-container col-xs-12 col-md-6"">
  <h4>"Barcelona" Cabaret Performance</h4>
  with Bobby Underwood<br>
  <div class="media-block">
    <iframe width="640" height="390" src="http://www.youtube.com/embed/gtF3FCcK3Wo" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="media-container col-xs-12 col-md-6""> 
  <h4>"Carousel" - Louise Ballet</h4>
  with Justin Ostergard, Choreography by Lauran Stanis,<br>Music Direction by Nick Townsie, Direction by Dexter Brigham<br>
  <div class="media-block">
    <iframe width="640" height="390" src="http://www.youtube.com/embed/ySYdPZQ7YXw" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="media-container col-xs-12 col-md-6"">
  <h4>"Cabaret" - Money</h4>
  Choreography by Jennifer Hopkins,<br>
  Direction by Tim Seib<br>
  <div class="media-block">  
    <iframe width="640" height="360" src="http://www.youtube.com/embed/OyP2X8EDp60" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="media-container col-xs-12 col-md-6"">
  <h4>"A Funny Thing...Forum" - Geminae Twin Duet</h4>
  With Alece DeLuca, Choreography by Chrissi Ardito<br>
  <div class="media-block">
    <video width="621" height="272" controls="controls">
      <source src="{{ url_for( 'static', filename='video/jamie-dance-1-cropped.m4v') }}" type="video/mp4" />
      <source src="{{ url_for( 'static', filename='video/jamie-dance-1-cropped.ogv') }}" type="video/ogg" />
      Your current browser does not support HTML5 video. Please use Safari 5, Chrome 6 (or later), Firefox 7 (or later) or Internet Explorer 9.
    </video>     
  </div>
</div>
      
{% endblock %}
