{% extends "base.html" %}


{% block content %}

<div class="containter">
Jamie and Hannah's Happy Hour was created to comedically showcase the social injustice and inequality of mainstream America. We believe comedy is the best solution to shed light on these important issues. We often highlight the absurdity of human nature, because it is this absurdity that creates the current events we live with today. 
</div>
<br>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <img class="img-responsive" src="{{ url_for( 'static', filename='img/jamie-headshot.jpg') }}">
  </div>
  <div class="col-sm-12 col-md-9">
    Jamie Thiessen (Writer/Producer/Actor) is originally from Southern California. After receiving her BA in Drama from the University of California, Irvine, she bid a fond farewell to the sunshine and moved to NYC. She has been very cold ever since. Favorite credits include "Young Frankenstein", "Marvelous Wonderettes", "Pageant Princess", and Disney Cruise Line. She can also be found performing annually in the Macy's Thanksgiving Parade.
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <img class="img-responsive" src="{{ url_for( 'static', filename='img/hannah-headshot.jpg') }}">
  </div>
  <div class="col-sm-12 col-md-9">
    Hannah Stone (Executive Producer/ Actor) is a native of Louisville KY and has been acting and working in the theatre for over 12 years. She has a BFA in Acting from the University of Utah, apprenticed with Berkshire Theater festival and Theater West Virginia, and studied and worked with a variety of companies and training programs across the northeast, including Shakespeare and Co. and ART's summer intensive. She is also the Executive producer of Binc Theater and creator of the Sustainable Theater financing method. Her favorite roles and productions include, Squeaky Fromme (Assassins), Carol (Oleanna), Porter (Macbeth), Christopher( On the Razzle) Stone Water Rapture (Producer), The Hayloft (Writer/ Producer). 
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12 col-md-3">
    <img class="img-responsive" src="{{ url_for( 'static', filename='img/jerry-headshot.jpg') }}">
  </div>
  <div class="col-sm-12 col-md-9">
    Jerry Guerrero (Director/Editor/Producer) is awesome. One day he will write his own bio. Today is not that day.
  </div>
</div>

{% endblock %}
