{% extends "base.html" %}

{% block content %}

<div class="container text-center">
<h3>Visit us on <a href="https://www.youtube.com/channel/UCiczDuKQmn7ajxixHR2JpFg">YouTube</a>!</h3>

<div class="container">
  <h2>Season 3</h2>

<div class="media-container">
<h3>New Year's Eve</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/m5t-u1Fvi_E?rel=0 frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>The Mommy Struggle</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/l_Y1nbqTbIY?rel=0 frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>How To: Adult</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/pZC15km5XOw?rel=0 frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>Trap Snap</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/obTGeVs9UUI?rel=0 frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>Themed Wedding</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/-sgskCFjfA0?rel=0 frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>Pregnant at a Party</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/CGPyItCoc_0 frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>Roxie T-Rex Episode 2</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/SpJZdlAjucA frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>Happy Birthday</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/lK3TfK6zFuE frameborder=0 allowfullscreen></iframe>
</div>
</div>
</div>

<div class="container">
  <h2>Bonus Videos</h2>

<div class="media-container">
<h3>I'm Still Catering (Music Video Parody)</h3>
<div class="embed">
<iframe width="560" height="315" src="https://www.youtube.com/embed/VtnhTvzpkHw?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>Cast Car</h3>
<div class="embed">
<iframe width="560" height="315" src="https://www.youtube.com/embed/XLnYs08ELa8?rel=0" frameborder="0" allowfullscreen></iframe>
</div>
</div>

</div>

<div class="container">
  <h2>Season 2</h2>

<div class="media-container">
<h3>Game of Living</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/Q7l1WzGw6Yk?list=PLFxvJMQXHMJSlHiwCeWCjUf_O7yj5Lr6j frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>P.S.A. on Pregnancy</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/gCWEC-wBpBU?rel=0 frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>Read It Online</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/dzUaZCV3FLA?rel=0 frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>You're Not Special</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/xojVlr33yZU frameborder=0 allowfullscreen></iframe>
</div>
</div>
<div class="media-container">
<h3>Breaking News</h3>
<div class="embed">
<iframe width=560 height=315 src=https://www.youtube.com/embed/eVoOxhRzQSo frameborder=0 allowfullscreen></iframe>
</div>
</div>
  <div class="media-container">
    <h3>Roxie T-Rex</h3>
    <div class="embed">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DtKeUBBOhOk" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>

  
  <div class="media-container">
    <h3>C.R.A.C.K.E.R Coalition</h3>
    <div class="embed">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/0WFiHZzxoOE" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>

  
  <div class="media-container">
    <h3>Asking For It</h3>
    <div class="embed">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/gtCA3FSqYpg" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
</div>

<div class="container">
  <h2>Season 1</h2>
  
  <div class="media-container">
    <h3>Santa's Elves</h3>
    <div class="embed">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Rh4pEOyku4A" frameborder="0" allowfullscreen></iframe>      
    </div>
    </div>
  <div class="media-container">
    <h3>Women's Studies</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/T_GcJCtVm_w" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  <div class="media-container">
    <h3>Giving Thanks</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Pes_gfMSpLU" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  <div class="media-container">
    <h3>How Millenials Do Lunch</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dtzSuUlagmE" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  <div class="media-container">
    <h3>Costume Contest</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MCbRTeAKSpw" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  <div class="media-container">
    <h3>The Daily Commute</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Y1V3ecWCVqk" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>

  
  
</div>


</div>

{% endblock %}
