{% extends "base.html" %}


{% block content %}

<div class="containter text-center">
  <h2 class="quote">A variety sketch comdedy show devoted to inequality, injustice, and the absurd</h2>
  <!-- 
  <img class="img-responsive center-block" src="{{ url_for( 'static', filename='img/frontpage.jpg') }}">
-->
</div>

<hr>
<h3 class="text-center">Updates</h3>
<hr>


<div class="row text-center">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h4><b>Season 2 Launched!</b></h4>
    After months of hard work, we are incredibly excited to start realasing season 2! Check out <i>Asking For It</i> and check back every other week for a new episode!
  </div>


  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h4><b>The Worst</b></h4>
    While we work on Season 2, enjoy our <i>The Worst</i> series. Each Wednesday we'll reloease a new conversation with a friend talking about their worst...
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h4><b>Featured in Mother Jones</b></h4>
    Our cat calling episode was featured in a Mother Jones article! Click <a href="http://www.motherjones.com/kevin-drum/2015/10/another-long-hot-summer-catcalling-coming-close">here</a> to read it!
  </div>

</div>
<br>
<div class="row text-center">
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <h4><b>Season 1 Launch!</b></h4>
    We're proud to announce the launch of <i>Jamie and Hannah's Happy Hour</i> on YouTube. Enjoy as we delve into a variety of subjects including cat calling, haloween costumes, Thanksgiving dinner and more with our own brand of humor!
  </div>

</div>
{% endblock %}
