{% extends "base.html" %}

text-center">

{% block content %}

<div class="containter-fluid">  
  <div class="row">
    <div class="col-md-8 col-lg-7">
      <div class="container-fluid">
      <h2>
	Tips to nail your audtions.
      </h2>
      <div class="embed">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/3-FfWVLz5kY?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <br>
      <div class="embed">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/6OvAuQSN8Zk?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>      
      <br>
      <div class="embed">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/gOSM2deiFIU?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <br>
      <div class="embed">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/XNPd3rutkUQ?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>

      </div> <!-- end right side -->
    </div>
    
    <div class="col-md-4 col-lg-5">
      <div class="container-fluid" style="border-left: solid 1px">
	<h2>
	  Even more resources!
	</h2>
	<h3>
	  Keep on learning with these helpful guides. For a successful actor, the research never stops!
	</h3>
	<div class="row">
	  <div style="padding-left: 2px"><h4><a href="{{ url_for('resources', type='monologue') }}">Great monologue collections:</a></h4></div>
	  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
	    {{ links['monologue'][0]|safe }}
	    </iframe>
	  </div>
	  
<div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
  {{ links['monologue'][1]|safe }}
	    </iframe>
	  </div>
	</div> <!-- end left side row 1 -->
	<div class="row">
	  <div style="padding-left: 2px"><h4><a href="{{ url_for('resources', type='text') }}">Professional acting guides:</a></h4></div>
	  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
	    {{ links['text'][0]|safe }}
	    </iframe>
	  </div>
<div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
  {{ links['text'][1]|safe }}
	    </iframe>

	  </div>	  
	</div> <!-- end left side row 2 -->

	<div class="row">
	  <div style="padding-left: 2px"><h4><a href="{{ url_for('resources', type='score') }}">Soundtracks! Glorious Soundtracks:</a></h4></div>
	  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
	    {{ links['score'][0]|safe }}
	    </iframe>
	  </div>
<div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
  {{ links['score'][1]|safe }}
	    </iframe>
	  </div>	  
	</div> <!-- end left side row 2 -->

	
      </div> <!-- end left side -->
    </div>
  </div>
</div>

<hr>
{% endblock %}
