{% extends "base.html" %}

text-center">

{% block content %}

<div class="containter-fluid">  
  <div class="row">
    <div class="col-md-8 col-lg-7">
      <div class="container-fluid">
      <h2>
	Tips to nail your audtions.
      </h2>
      <div class="embed">
	<iframe width=560 height=315 src=https://www.youtube.com/embed/m5t-u1Fvi_E?rel=0 frameborder=0 allowfullscreen></iframe>
      </div>
      </div> <!-- end right side -->
    </div>
    
    <div class="col-md-4 col-lg-5">
      <div class="container-fluid" style="border-left: solid 1px">
	<h2>
	  Even more resources!
	</h2>
	<h3>
	  Keep on learning with these helpful guides. For a successful actor, the research never stops!
	</h3>
	<div class="row">
	  <div style="padding-left: 2px"><h4>Great monologue coolections:</h4></div>
	  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
	    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=jhhappyhour-20&marketplace=amazon&region=US&placement=0823099490&asins=0823099490&linkId=e2cbc2ffa51fb1941792987363b6d4dd&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=fafafa">
	    </iframe>
	  </div>
	  
	  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
	    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=jhhappyhour-20&marketplace=amazon&region=US&placement=0140096493&asins=0140096493&linkId=8f0e4d2a7861826af1c3decd612d4fdf&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=fafafa">
	    </iframe>
	  </div>
	  <!-- <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6 visible-sm visible-lg"> -->
	  <!--   <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=jhhappyhour-20&marketplace=amazon&region=US&placement=0553263668&asins=0553263668&linkId=d4cc24d11015285561152248aa09fc40&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=fafafa"> -->
	  <!--   </iframe> -->
	  <!-- </div> -->
	</div> <!-- end left side row 1 -->
	<div class="row">
	  <div style="padding-left: 2px"><h4>Professional acting guides:</h4></div>
	  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
	    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=jhhappyhour-20&marketplace=amazon&region=US&placement=0394750594&asins=0394750594&linkId=7ce99d91e132f5c6e6fdea5b625e7e4f&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=fafafa">
	    </iframe>
	  </div>
	  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
	    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=jhhappyhour-20&marketplace=amazon&region=US&placement=1557833737&asins=1557833737&linkId=24e4ea4b1c28003dc709c7c6ff85ed00&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=fafafa">
	    </iframe>

	  </div>	  
	</div> <!-- end left side row 2 -->

	<div class="row">
	  <div style="padding-left: 2px"><h4>Soundtracks! Glorious Soundtracks:</h4></div>
	  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
	    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=jhhappyhour-20&marketplace=amazon&region=US&placement=1495083217&asins=1495083217&linkId=41ade164ad41e217b0ece80b8e42b52f&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=fafafa">
	    </iframe>
	  </div>
	  <div class="col-lg-4 col-md-6 col-sm-4 col-xs-6">
	    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=jhhappyhour-20&marketplace=amazon&region=US&placement=063407881X&asins=063407881X&linkId=ff0aefe682f20737d2db576e39a3ef71&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=fafafa">
	    </iframe>
	  </div>	  
	</div> <!-- end left side row 2 -->

	
      </div> <!-- end left side -->
    </div>
  </div>
</div>

<hr>
{% endblock %}
