{% extends "base.html" %}

text-center">

{% block content %}

<div class="containter">  
  <div class="row">
    <div class="col-md-8">
      <h2>
	Tips to nail your audtions.
      </h2>
    </div>
    <div class="col-md-4"">
      <h2>
	Even more resources!
      </h2>
      <h3>
	Keep on learning with these helpful guides. For a successful actor, the research never stops!
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="embed">
	<iframe height=240 src=https://www.youtube.com/embed/m5t-u1Fvi_E?rel=0 frameborder=0 allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=jhhappyhour-20&marketplace=amazon&region=US&placement=0823099490&asins=0823099490&linkId=e2cbc2ffa51fb1941792987363b6d4dd&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=fafafa">
      </iframe>
    </div>
    <div class="col-md-2 col-sm-2">
    <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=tf_til&ad_type=product_link&tracking_id=jhhappyhour-20&marketplace=amazon&region=US&placement=0140096493&asins=0140096493&linkId=8f0e4d2a7861826af1c3decd612d4fdf&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=fafafa">
    </iframe>
    </div>
  </div>
</div>
<hr>
{% endblock %}
