{% extends "base.html" %}


{% block content %}

<div class="containter text-center">
  <h2 class="quote">
    JHHH is proud to announce Shop and Support  Campaign!<br>
  </h2>
  <h3>
By shopping for everyday items through our website you will help us fundraise for Jamie and Hannah’s Happy Hour. It doesn’t matter what you buy, or how small. Just make sure to enter the Amazon website through our <a href="http://amzn.to/2n1vIjx">link</a>. You will be helping JHHH with our mission to create political, social, and absurd sketch comedy.<br>
<br>
Thank you for your support<br>
<br>
<a href="http://amzn.to/2n1vIjx" class="quote">CLICK HERE TO GO TO AMAZON.COM, SHOP, AND HELP US</a>
</h3>
</div>
<hr>
{% endblock %}
