{% extends "base.html" %}

{% block content %}

<div class="container text-center">
<h3>Visit us on <a href="https://www.youtube.com/channel/UCiczDuKQmn7ajxixHR2JpFg">YouTube</a>!</h3>

<div class="container">
  <h2>The Worst</h2>

    <div class="media-container">
      <h3>Barrie Linberg</h3>
      <div class="embed">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/7yjVAyvJFcs" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>  
  <div class="media-container">
    <h3>JonAlf Dyrland-Weaver</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/1pTunuF24F8" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  <div class="media-container">
    <h3>Dana Sumner-Pritchard</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/gU3azppzKnE" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  <div class="media-container">
    <h3>Salvatore Mitsou</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/i5yK_qERnI8" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  <div class="media-container">
    <h3>Karla Mayte</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/F3i7DeOJNo4" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  <div class="media-container">
    <h3>Heidi Hackney</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/dqrTA9tdxwk" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>  
  <div class="media-container">
    <h3>Amanda Speare</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/GVA5CFDW_To" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="media-container">
    <h3>Alex Hoff</h3>
    <div class="embed">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NJC4gkfBpBw" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
  
  
</div>


</div>

{% endblock %}
